<div class="home-hero">

	<div class="container hero-container">
		<div class="hero left-box">
			<h3>Learn about Pete Glidewell</h3>
		</div>
		<div class="hero right-box-top">

		</div>
		<div class="hero right-box-bottom">
			<div class="form-content">
				<h3>Get Involved</h3>
				<p>Give us an email and we'll get in touch right away with ways you can help</p>
				<p>From phone calls at home to hosting there are hundreds of ways to help</p>
			</div>
			<form class="hero-form email-form">
				<div class="hero-form-group">
					<input type="text" class="hero-input first-name" placeholder="First Name">
					<input type="text" class="hero-input last-name" placeholder="Last Name">
				</div>
				<div class="hero-form-group">
					<input type="text" class="hero-input email" placeholder="Email">
				</div>
				<div class="btn-wrap">
					<button type="submit" class="btn btn-primary btn-hero-primary">Submit</button>
				<div>
			</form>
		</div>
	</div>
</div>
<div class="home-content">
</div>
