<div class="home-hero">

	<div class="container hero-container">
		<div class="hero left-box">

		<p>"We must focus on building a fair and competitive system that allows private enterprise to flourish and create great American jobs."</p>
		<p style="text-align: right;">- Pete Glidewell</p>
			<img class="img-pete" src="<%= site_url %>/assets/images/pete.png">

		</div>
		<div class="hero right-box-top">
			<div class="form-content">
				<h3>Get Involved</h3>
				<p>Give us an email and we'll get in touch right away with ways you can help</p>
				<p>From phone calls at home to hosting there are hundreds of ways to help</p>
			</div>
			<form class="hero-form email-form">
<!--
				<div class="hero-form-group">
					<input type="text" class="hero-input first-name" placeholder="First Name">
					<input type="text" class="hero-input last-name" placeholder="Last Name">
				</div>
-->
				<div class="hero-form-group">
					<input type="text" class="hero-input email" placeholder="Email">
				</div>
				<div class="btn-wrap">
					<button type="submit" class="btn btn-primary btn-hero-primary">Submit</button>
				<div>
			</form>
		</div>
		<div class="hero right-box-bottom">
			<div class="donation-widget">
				<h4>Donate</h4>
				<div class="btn-group">
					<a href="https://secure.actblue.com/contribute/page/rossfornc?refcode=website_splash&recurring=true&express_lane=true&reccuring=true&amount=10" class="btn-donate">$10</a>
					<a href="https://secure.actblue.com/contribute/page/rossfornc?refcode=website_splash&recurring=true&express_lane=true&reccuring=true&amount=50" class="btn-donate donate-rand">$50</a>
					<a href="https://secure.actblue.com/contribute/page/rossfornc?refcode=website_splash&recurring=true&express_lane=true&reccuring=true&amount=100" class="btn-donate donate-rand">$100</a>
					<a href="https://secure.actblue.com/contribute/page/rossfornc?refcode=website_splash&recurring=true&express_lane=true&reccuring=true" class="btn-donate">Other</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="home-content">
	<div class="container">
		<div class="span-container">
				<div class="block-donation-widget">
					<span>
					<h4>SEND A MESSAGE TO WASHINGTON - PETE GLIDEWELL FOR CONGRESS</h4>
					<div class="btn-group">
						<a href="https://secure.actblue.com/contribute/page/rossfornc?refcode=website_splash&recurring=true&express_lane=true&reccuring=true&amount=10" class="btn-donate">$10</a>
						<a href="https://secure.actblue.com/contribute/page/rossfornc?refcode=website_splash&recurring=true&express_lane=true&reccuring=true&amount=50" class="btn-donate donate-rand">$50</a>
						<a href="https://secure.actblue.com/contribute/page/rossfornc?refcode=website_splash&recurring=true&express_lane=true&reccuring=true&amount=100" class="btn-donate donate-rand">$100</a>
						<a href="https://secure.actblue.com/contribute/page/rossfornc?refcode=website_splash&recurring=true&express_lane=true&reccuring=true&amount=500" class="btn-donate">$500</a>
						<a href="https://secure.actblue.com/contribute/page/rossfornc?refcode=website_splash&recurring=true&express_lane=true&reccuring=true&amount=2700" class="btn-donate">$2700</a>
						<a href="https://secure.actblue.com/contribute/page/rossfornc?refcode=website_splash&recurring=true&express_lane=true&reccuring=true" class="btn-donate">Other</a>
					</div>
				</span>
				</div>
		</div>


		<div class="row">

			<div class="col-sm-8">

				<h2>Meet Pete</h2>

				<img class="img-responsive" src="<%= site_url %>/assets/images/glidewell.jpg" style="width: 50%;">


			</div>

			<div class="col-sm-4">

				<div class="news-item">
					<h5>Title Item</h5>
					<time>April 21, 2016</time>
					<p>Voluptas modi esse et voluptatem id. Mollitia ut et odio repellendus. Quo alias aut accusamus. Nobis praesentium est officia sit. Rerum a quidem eos vitae. Placeat enim quis autem et sint distinctio aut magnam.</p>

				</div>
				<div class="news-item">
					<h5>Title Item</h5>
					<time>April 21, 2016</time>
					<p>Ab ipsam necessitatibus porro a ducimus nulla. Id et et iure. Laborum a numquam quia est rerum. Fugiat explicabo architecto vel eum voluptas voluptate consectetur. Possimus nisi ea repellendus voluptate ab atque ab ducimus.</p>

				</div>
				<div class="news-item">
					<h5>Title Item</h5>
					<time>April 21, 2016</time>
					<p>Magni quod veniam facere. Soluta odio expedita aut ut ipsum iste. Sint sint alias pariatur animi. Qui voluptatum quasi cumque repudiandae autem ea fuga quisquam. Dicta sed quia voluptas fugit et magnam quas.</p>

				</div>
				<div class="news-item">
					<h5>Title Item</h5>
					<time>April 21, 2016</time>
					<p>Aut qui ducimus in ab harum. Libero error illo corporis est aut illo est nulla. Officia reiciendis reprehenderit atque fugiat necessitatibus esse dolor harum. Quia tenetur rerum qui voluptatum modi. Ipsa id aspernatur sunt asperiores ut assumenda ratione minima.</p>

				</div>
				<div class="news-item">
					<h5>Title Item</h5>
					<time>April 21, 2016</time>
					<p>Cumque qui asperiores rerum. Vel architecto vel accusamus quae nemo aliquam. Atque rerum corrupti nulla. Quo hic voluptatem minus ut est voluptatum eos.</p>

				</div>
			</div>

		</div>

	</div>
</div>
